
#add-card-button {
  margin-left: 15%;
  width: 66%;
  background-color: green;
}

.card-form{
  align-content: center;
  color: red;
}

#search-bar {
  align-items: flex-end;
}

.author-data {
  width: 20%;
}

.title-data{
  width: 30%;
}

.synopsis-data {
  width: 50%;
}

.keywords-data {
  width: 40%;
}

.table-inputs {
  font-size: 12px;
  width: 100%;
  outline: none;
  border: none !important;  /*box-shadow: none;*/
  background: transparent !important;
}
