
<div ng-controller="CatalogueController as card">
  <div class="container-fluid">
    <br>
    <form id="card-form" class="form-inline text-center">
      <div class="form-group form-group-lg jumbotron text-center">
        <h1 align="center">Catalogue Application</h1>
        <br>
        <label class="control-label">Title:
          <input class="form-control" type="text" ng-model="formData.title" placeholder="Title"></input>
        </label>
        <label class="control-label">Author:
          <input class="form-control" type="text" ng-model="formData.author" placeholder="Author"></input>
        </label>
        <label class="control-label">Synopsis:
          <textarea id="add-card-synopsis" class="form-control" rows="1" ng-model="formData.synopsis"  placeholder="Synopsis"></textarea>
        </label>
        <label class="control-label">Location:
          <input  class="form-control" type="text" ng-model="formData.location" placeholder="Location"></input>
        </label>
        <label class="control-label">Year:
          <input class="form-control" type="number" ng-model="formData.year" placeholder="Year"></input>
        </label>
        <label class="control-label">ISBN:
          <input class="form-control" type="text" ng-model="formData.isbn" placeholder="ISBN"></input>
        </label>
        <label class="control-label">Keywords:
          <input class="form-control" type="text" ng-model="formData.keyword" placeholder="Keywords"></input>
        </label>
        <label class="control-label">Number of copies:
          <input class="form-control" type="number" ng-model="formData.copyNumber" placeholder="Number of copies"></input>
        </label>
        <br>
        <button id="add-card-button" ng-click="addCards()">Add to Catalogue</button>
      </div>
    </form>
  </div>
  <div id="card-list">
    <div class="container">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="col-sm-4 col-md-5 col-lg-5">
              Search: <input type="text" ng-model="cardFilter">
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="title">Title: </th>
                      <th class="author">Author: </th>
                      <th class="synopsis">Synopsis: </th>
                      <th class="location">Location: </th>
                      <th class="year">Year: </th>
                      <th class="isbn">ISBN: </th>
                      <th class="keyword">Keywords: </th>
                      <th class="copyNumber">Copies: </th>
                      <th class="deleteButton">Delete </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="singleCard in cards | filter:cardFilter">
                        <td class="title-data">
                          <input ng-model="singleCard.title" ng-blur="update(singleCard)" ng-bind="singleCard.title" class="table-inputs"></input></td>
                        <td class="author-data">
                          <input ng-model="singleCard.author" ng-blur="update(singleCard)" ng-bind="singleCard.author" class="table-inputs"></input> </td>
                        <td class="synopsis-data">
                          <textarea ng-model="singleCard.synopsis" ng-blur="update(singleCard)" ng-bind="singleCard.synopsis" class="table-inputs"></textarea></td>
                        <td class="location-data">
                          <input ng-model="singleCard.location" ng-blur="update(singleCard)" ng-bind="singleCard.location" class="table-inputs"></input></td>
                        <td class="year-data">
                          <input ng-model="singleCard.year" ng-blur="update(singleCard)" ng-bind="singleCard.year" class="table-inputs"></input></td>
                        <td class="isbn-data">
                          <input ng-model="singleCard.isbn" ng-blur="update(singleCard)" ng-bind="singleCard.isbn" class="table-inputs"></input></td>
                        <td class="keyword-data">
                          <input ng-model="singleCard.keyword" ng-blur="update(singleCard)" ng-bind="singleCard.keyword" class="table-inputs"></input></td>
                        <td class="copyNumber-data">
                          <input ng-model="singleCard.copyNumber" ng-blur="update(singleCard)" ng-bind="singleCard.copyNumber" class="table-inputs"></input></td>
                        <td class="deleteButton-data">
                          <input class="btn btn-danger" type="button" ng-click="removeCards(singleCard)"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
